@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* CUSTOM CSS */

main {
  @apply relative min-h-dvh overflow-hidden bg-linear-to-br from-slate-950 via-slate-900 to-slate-800 text-white py-20 md:py-30 px-5;
}

input {
  @apply w-full rounded-lg bg-slate-800/40 px-4 py-3 text-white outline-none ring-1 ring-slate-700 focus:ring-indigo-500;
}

select {
  @apply w-full rounded-lg bg-slate-800/40 px-4 py-3 text-white outline-none ring-1 ring-slate-700 focus:ring-indigo-500 ;
}

option {
  @apply bg-slate-800/40 text-white px-4 py-3 block;
}

textarea {
  @apply w-full h-32 rounded-lg bg-slate-800/40 px-4 py-3 text-white outline-none ring-1 ring-slate-700 focus:ring-indigo-500;
}

button {
  @apply cursor-pointer rounded-lg transition-all duration-300 ease-in-out flex items-center justify-center gap-2;
}

.fill-btn {
  @apply bg-indigo-500 px-6 py-3 font-medium text-white hover:bg-indigo-600;
}

.border-btn {
  @apply border border-slate-600 px-6 py-3 text-slate-200 hover:bg-slate-800;
}

th {
  @apply text-center text-indigo-700 p-2 bg-slate-300 border-r border-slate-600;
}

td {
  @apply text-sm text-left text-slate-50 p-2 border-r border-b border-slate-600;
}

/* apear animation */

.fade-in {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}